body {
    background-color: #303030;
    background-image: url(/assets/vector/blur/dark/green_blur_top.svg), url(/assets/vector/blur/dark/sky_blur_bot.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    color: white;
}

.oasis-wrap__subtitle {
    color: rgba(255, 255, 255, 0.6);
}

.oasis-wrap__signup-box {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.48);
}

.signup-box__input-container__input::placeholder {
    color: rgb(207, 207, 207);
}

.bottom-panel__following-link {
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.2);
    left: 80%;
}

.bottom-panel__following-link:active {
    border: 1px solid rgba(255, 255, 255, 0.712);
}

.bottom-panel__following-link p {
    color: whitesmoke;
}